
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
  height: 100%;
}

body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #ececec;
}

main {
    font-family: 'Roboto', sans-serif;
}

/* ----------HEADER---------- */
header{
    position: sticky;
    top: 0;
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #00121b;
    z-index: 3;
}

header a{
    color: aliceblue;
    text-decoration: none;
    
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
}

#logo-container a h1 {
    margin-left: 2.0em;
    margin-top: -1.5em;

}

header ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding-right: 20px;
    margin-right: 0;
    
}

header ul li{
    display: inline-block;
    list-style: none;
    height: 25px;
}


nav {
    display: flex;
    align-items: center;
    height: 100%;
} 

header ul li a{
    text-decoration: none;
    color: #f4f4f4;
    padding: 10px 0;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 18px;
    margin-right: 3em;
    height: 100%;
}

nav ul li .submenu a{
    display: flex;
    margin-left: -40px;
}

#active-nav { 
    color: #ffffff;
    align-items: center;
    margin-left: 0px;
    width: 105px;
    height: 20px;
    padding-top: 11px;
    padding-right: 64px;
    margin-right: -5px;
}

#btn-nav{
    margin-left: 0px;
    margin-top: 13px;
    background-color: #04879c;
    border-radius: 2cm;
    height: 100%;
}

#btn-nav:hover{
    transition: ease-in 0.3s;
    background-color: white;
    border-radius: 1cm;
}

#btn-nav #link{
  text-align: center;
  margin-left: 30px;
  
}
#btn-nav #hid{
  opacity: 0;
}

#btn-nav:hover a{
    color: #00332c;
} 

header ul li a:hover {
    color: #1c8e7e;
    border-radius: 2px;    
}

/* submenu style */
header ul .submenu{
    display: block;
    position: fixed;
    width: 200px;
    box-shadow: 0px 0px 5px 3px #00000020;
    margin-left: 0px;
    opacity: 0;
    z-index: -999;
    visibility: hidden;
    transition: all ease 0.2s;
    color: white;
    
}

header ul .submenu li{
    margin-top: -15px;
    margin: 0;
    width: 100%;
} 

header ul .submenu li a{
    padding: 15px 20px;
    display: inline-block;
    width: 100%;
}

header ul li .submenu:hover .dropdown{
    visibility: visible;

}

header ul li:hover .submenu{
    z-index: 99;
    opacity: 1;
    margin-top: 0;
    
}
.submenu li a:hover{
    color: #00121b;
}
header ul li:hover .submenu a{
    z-index: 99;
    opacity: 100%;
    margin-top:8px;
    visibility: visible;
    background-color: #04879c;
}

/* Hide checkbox by default */
.nav-toggle {
    display: none;
  }

.nav-toggle #fas{
    display: none;
}

#burger{
    display: none;
}
  
  /* Style the burger menu */

  @media only screen and (max-width: 1060px) {

    #burger{
        display: block;
    }

    .nav-toggle-label {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    
  } 

    /* Show burger menu and hide navigation links by default */
    nav ul {
      display: none;
    }
  
    /* Style the burger menu */
    .nav-toggle-label {
      display: block;
    }
  
    /* Show navigation links when the checkbox is checked */
    #nav-toggle:checked ~ nav ul {
        display: inline-table;
        table-layout: fixed;
        background: #005243;
        position: fixed;
        top: 0;
        right: 0px;
        width: 200px;
        height: 100vh;
        padding-top: 65px;
        z-index: 2;
        transition: right 0.5s;
        margin-left: 15px;
        padding-left: 15px;
    }

    nav ul li{
        margin-top: 20px;
    }

    nav ul{
        justify-content: center;
        align-items: center;

    }

    #active-nav { 
        color: #ffffff;
        align-items: center;
        margin-left: 55px;
        width: 105px;
        margin-top: 10px;
        
    }

  
    
    #btn-nav{
        margin-top: 30px;
        margin-left: -5px;
        border-radius: 2cm;
        height: 6%;
    }

    #nav-toggle:checked ~ .nav-toggle-label{
        margin-right: 175px;
        z-index: 1000;
    }
  
    /* Add transition for the sidebar animation */
    nav ul {
      transition: right 0.5s;
    }

    header ul .submenu{
        display: block;
        position: fixed;
        width: 200px;
        box-shadow: 0px 0px 5px 3px #00000020;
        margin-left: 0px;
        margin-right: 215px;
        opacity: 0;
        z-index: -999;
        visibility: hidden;
        transition: all ease 0.2s;
        color: white;

    }
    header ul li:hover .submenu{
        margin-top: 8px;
    }
  }

  
/* ----------FOOTER---------- */
.footer {
	width: 100%;
	background: #00121b;
	display: block;
  position: static;
  bottom: 0;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #04879c;
	color: #04879c;
	background-color: #04879c;
	border: 0px;
}

.footer ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

.footer ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

.footer ul a:hover {
	color: #04879c;
}

.footer ul li {
	margin: 10px 0;
	height: 25px;
}

.footer li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}

/* ----------ABOUT US---------- */
.about-heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    background-image: url(about_img/images/a2.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 8px; 
}

.about-heading h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 25px;
    position: relative;
    margin-top: 15px; 
}

.about-heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    display: block;
    margin: 0 auto;
    background-color:#6088bb;
}

.about-heading p {
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
    margin-top: 5px; 
    text-align: center;
    width: 80%; 
}

.about-container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 50px;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease-in-out;
    padding: 5px;
}

.about-image:hover img {
    transform: scale(1.1);
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color:  #142d4c;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

.about-content .book-an-appointment {
    display: inline-block;
    padding: 10px 20px;
    background-color: #385170;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease-in-out;
}

.about-content .book-an-appointment:hover {
    background-color: #00121b;
}

/* ----------MEET THE PROVIDERS---------- */
.team-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 0px 0px 0px;
    background-image: url(about_img/images/a3.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.team-section .team-container {
    width: 80%;
    margin: auto;
}

.team-section .team-container .row {
    width: 100%;
    margin: auto;
}

.team-section .team-container .row .title {
    text-align: center;
    margin-top: 50px;
}

.team-section .team-container .row .title h1 {
    font-size: 50px;
    letter-spacing: 1.5px;
    color: white;
}

.team-section .team-container .row .title p {
    font-size: 22px;
    margin-top: 5px;
    color: white;
}

.team-section .team-container .team-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    margin-top: 25px;
}

.team-section .team-container .team-card .card {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 5px;
}

.team-section .team-container .team-card .card:hover {
    background-color: #c9f0d6;
    transition: 0.3s;
}

.team-section .team-container .team-card .card .image-section img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.team-section .team-container .team-card .card .content {
    width: 100%;
    text-align: center;
}

.team-section .team-container .team-card .card .content h3 {
    font-size: 27px;
    margin: 10px 5px;
    letter-spacing: 1.5px;
    color: #00121b;
}

.team-section .team-container .team-card .card .content h4 {
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #00918e;
}

.team-section .team-container .team-card .card .content p {
    font-size: 18px;
    margin: 16px 0px;
    line-height: 1.5;
    color: black;
}

.team-section .see-more-dentist {
    display: block;
    padding: 10px 20px;
    background-color: #385170;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}

.team-section .see-more-dentist:hover {
    background-color: #00121b;
}

/* ----------JOIN---------- */
.join {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0px 0px 20px 0px ;
    background-image: url(about_img/images/a4.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px; 
}

.join h1{
    font-size: 45px;
    color: white;
    margin-bottom: 25px;
    position: relative;
    margin-top: 20px;
}

.join p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px; 
    text-align: center;
    width: 80%; 
}

.mail {
    color: #d35400;
    font-style: italic;
}

/* ----------TESTIMONIALS---------- */
.testimonial-container {
    width: 1200px;
    margin-top: 40px;
    margin: auto;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
}

.left-container {
    margin-top: 10px;
}
.left-container .left-container-heading h1{
    font-size: 50px;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    color: #142d4c;
}

.left-container .left-container-heading p {
    font-size: 22px;
    margin-top: 5px;
    color: black;
}

.left-container .left-container-content p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: black;
}

.left-container .read-more-testimonials {
    display: inline-block;
    padding: 10px 20px;
    background-color: #385170;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
}

.left-container .read-more-testimonials:hover {
    background-color: #00121b;
}

.right-container {
    display: grid;
    margin-top: 5px;
    gap: 20px;
}

.tcard {
    padding: 10px 10px 1px 10px;
    display: flex;
    align-items: flex-start;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
}

.tcard img {
    max-width: 80px;
    margin: 15px;
    border-radius: 100%;
}

.t-card .tcard-content {
    display: flex;
    gap: 40px;
}

.tcard-details {
    margin-top: 20px;
    font-style: italic;
    color: black;
}

.tcard-details h4 {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: right;
    color: #142d4c;
    font-size: 110%;
    font-weight: 500;
}

/* ----------CHOOSE---------- */
.choose {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    background-image: url(about_img/images/a5.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 30px; 
}

.choose h1{
    font-size: 45px;
    color: white;
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
}

.choose p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px; 
    text-align: center;
    width: 80%; 
}

/* ----------FAQ---------- */
.faq {
    width: 100%;
}

.faq h1 {
    text-align: center;
    font-size: 40px;
    color: #142d4c;
    margin-top: 40px;
}

.faq-container {
    display: flex;
    align-items: flex-start;
    padding: 0 60px;
    margin: 25px auto;
}

.faq-content {
    width: 60%;
    text-align: left;
    padding: 0 10px;
}

.faq-content h3 {
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 25px;
    color: #144c52;
}

.faq-content p {
    font-size: 19px;
    margin-top: 10px;
    padding-right: 10px;
}

.faq-image {
    width: 40%;
    padding: 0 10px;
    overflow: hidden;
}

.faq-image img {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease-in-out;
}

.faq-image:hover img {
    transform: scale(1.1);
}

.faq-content .faq-see-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #385170;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
}

.faq-content .faq-see-more:hover {
    background-color: #00121b;
}
